.about-header-background {
  display: flex;
  flex-shrink: 0;
  background: linear-gradient(to top, #f1f5fb, #f9fcff);
}
.about-header-background-content {
  display: flex;
  flex-basis: 721px;
  padding: 196px 40px 160px;
  margin: 0 auto;
}
.about-header-background-content h1 {
  display: flex;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 500;
  color: #12183a;
  flex: 1;
  flex-direction: column;
}
.about-header-background-content h1 span {
  display: flex;
  font-size: 15px;
  margin-top: 10px;
  color: #898F9F;
}
.about-header-background-content img {
  display: flex;
  flex: 0;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 30px;
}
.about-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 0;
  background: #ffffff;
  border-radius: 10px;
  flex-direction: column;
}
.about-content-info {
  width: 100%;
  box-sizing: border-box;
  padding: 60px 150px;
  transition: all 0.4s ease-in-out;
}
.about-content-info p {
  font-size: 1.55rem;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 20px;
}
.about-content img {
  display: flex;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .about-content-info {
    padding: 40px 50px;
  }
}
@media screen and (max-width: 600px) {
  .about-content-info {
    padding: 40px 20px;
  }
}
