.post #post-toc .post-toc-title {
  font-size: 20px;
}
.post #post-toc ol {
  color: red;
  list-style-type: none;
}
.post #post-toc ol a {
  display: inline;
}
.post #post-toc ol .toc-link {
  display: inline;
}
.post #post-toc ol .toc-text {
  color: #006af7;
}
.post #post-toc ol li {
  list-style-type: none;
}
.post-header-background {
  position: relative;
  display: flex;
  width: 100%;
  background: linear-gradient(0deg, #f1f5fb, #f9fcff);
  flex-shrink: 0;
}
.post-header-background-content {
  display: flex;
  margin: 0 auto;
  padding: 196px 40px 160px;
  flex-basis: 721px;
  flex-direction: column;
}
.post-header-background-content h1 {
  margin: 32px 0 24px;
  color: #12183a;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.6;
}
.post-header-background-content .post-header-tag {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.post-header-background-content .post-header-tag li {
  z-index: 4!important;
  background: #fff !important;
  color: #fff;
  display: flex;
  margin-top: 20px;
  margin-right: 16px;
  padding: 6px 14px;
  border-radius: 4px;
  background: rgba(18, 24, 58, 0.06);
  line-height: 20px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: ease-in-out;
  flex-grow: 0;
}
.post-header-background-content .post-header-tag li:hover {
  background: #bec8d3 !important;
}
.post-header-background-content .post-header-tag li a {
  position: relative;
  z-index: 4 !important;
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: ease-in-out;
}
.post-header-background-content .post-header-info {
  display: flex;
}
.post-header-background-content .post-header-info-author {
  display: flex;
  align-items: center;
}
.post-header-background-content .post-header-info-author span {
  margin-left: 8px;
  color: #12183a;
  font-weight: 500;
  font-size: 15px;
}
.post-header-background-content .post-header-info-author span a {
  color: #12183a;
  text-decoration: none;
}
.post-header-background-content .post-header-info-author span a:hover {
  color: #006af7 !important;
}
.post-header-background-content .post-header-info-author p {
  color: #12183a;
  font-size: 14px;
}
.post-header-background-content .post-header-info-author-text {
  display: block;
  margin-right: 15px;
}
.post-header-background-content .post-header-info-author-categories {
  display: flex;
  align-items: center;
}
.post-header-background-content .post-header-info-author-categories a {
  display: block;
  border: 1px solid #12183a;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  margin-right: 10px;
  color: #12183a;
  text-decoration: none;
}
.post-header-background-content .post-header-info-author-categories a:hover {
  border: 1px solid #409EFF;
  color: #409EFF;
}
.post-header-img {
  height: 100%;
  background-size: cover;
}
.post-header-img h1 {
  z-index: 2;
  color: #fff !important;
}
.post-header-img img {
  display: flex;
  width: 100%;
  height: 100%;
}
.post-header-img:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../image/pattern.png);
  background-repeat: repeat;
  content: "";
}
.post-header-img .post-header-info-author {
  position: relative;
  z-index: 4;
}
.post-header-img .post-header-info-author span a {
  color: #fff !important;
}
.post-header-img .post-header-info-author p {
  color: #fff !important;
}
.post-header-img .post-header-info-author-categories a {
  border: 1px solid #f1f5fb !important;
  color: #ffffff !important;
}
.post-header-color {
  background: linear-gradient(0deg, #f1f5fb, #f9fcff) !important;
}
.post-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 0;
  background: #ffffff;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.post-content-info {
  margin: 60px 80px;
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}
.post-paging {
  display: flex;
  margin: 0 auto 2em;
  max-width: 980px;
  background: hsla(0, 0%, 100%, 0.8);
}
.post-paging a,
.post-paging a .post-paging-last {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.post-paging p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 90%;
  line-height: 1.6;
  font-size: 16px;
}
.post-paging a {
  color: #12183a;
  font-size: 16px;
  text-decoration: none;
}
.post-paging a .post-paging-last {
  height: 150px;
  border-radius: 10px;
  background-size: 100% 100%;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
}
.post-paging a .post-paging-last:hover {
  margin-top: -10px;
  box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.1);
  opacity: 0.7;
}
.post-paging a .post-paging-last span {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 90%;
  line-height: 1.6;
}
.post-paging a .post-paging-next {
  display: flex;
  height: 150px;
  border-radius: 10px;
  background-size: 100% 100%;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  align-content: flex-end;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 0;
}
.post-paging a .post-paging-next:hover {
  margin-top: -10px;
  box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.1);
  opacity: 0.7;
}
.post-paging a .post-paging-next span {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 90%;
  line-height: 1.6;
}
@media screen and (max-width: 800px) {
  .post-content-info {
    margin: 50px;
  }
}
@media screen and (max-width: 600px) {
  .post-content-info {
    margin: 40px 20px;
  }
}
